.title_Wrap {
  background: #dcdbd9;
}

.mainNAV {
  z-index: 1;
}

.sub_header {
  z-index: -10;
  top: -52%;
}

main {
  margin: 0 12.25rem;
}

.gnb_btns {
  margin-bottom: 410px;
}
/* ---------------section 01 */
body {
  color: var(--B);
}
.Pd_title {
  gap: 10px;
  margin-bottom: 40px;
}
.Pd_title > p {
  font-size: 18px;
  font-weight: 300;
}

.img1,
.img2 {
  width: 31.25rem;
  height: 31.25rem;
}

/* -----------------------------slide */
/* slick */
.js .slider-single > div:nth-child(1n + 2) {
  display: none;
}

.js .slider-single.slick-initialized > div:nth-child(1n + 2) {
  display: block;
}
img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.custom-slide {
  padding: 15px 5px 0 5px;

  height: 200px;
  object-fit: cover;
  box-shadow: 5px 5px 5px #dedede76;
}

.slider-single h3 {
  line-height: 10rem;
}

.slider-nav .slick-slide {
  margin: 20px 5px;
}

.slider-nav .slick-slide {
  margin: 20px 5px;
}

.page .row img {
  width: 5.875rem;
  height: 5.875rem;
}
.slider {
  gap: 1.188rem;
  justify-content: space-between;
  padding: 30px;
}
.row > .slider > img {
  width: 31.25rem;
}

.section01 .page .row .slide_wrap i {
  font-size: 28px;
  color: var(--Gg);
}

.section01 .page .row .slide_wrap .prev {
  padding: 0;
  top: 40%;
}

.section01 .page .row .slide_wrap .next {
  padding: 0;
  right: 0%;
  top: 40%;
}

.section01 .img2 {
  margin: 0 8.125rem 0 3.125rem;
}

/* -------------------------------------정보내용 시작 */

.section02 .p_info .P_info2 {
  margin: 3.125rem 0;
}
.p_info .P_info1 {
  width: 300px;
}
.P_info1 .name,
.price {
  margin-bottom: 23px;
}

.P_info1 .name {
  font-size: 1.5rem;
}
.P_info1 .price {
  font-size: 1.875rem;
  font-weight: bold;
}
/* 별, 장바구니, 좋아요 버튼 */
.P_info1 .review .rating {
  margin-right: 0.625rem;
}
.P_info1 .review .review_num {
  margin-right: 1.875rem;
}
.p_info > .P_info1 > .review > .cart_like_BtnWrapper button {
  border: transparent;
  background: none;
}
.section02 {
  display: none;
}
/* ------------------------------info2 */
.P_info2 .color .c_grey {
  margin-left: 1.563rem;
}
.section02 .p_info .P_info2 .c_img img {
  width: 6.25rem;
  height: 6.25rem;
}
.P_info2 .c_img .img_grey {
  margin-right: 20px;
}
.P_info2 .color {
  margin-bottom: 30px;
}
.P_info2 .color .c_tit {
  font-size: 18px;
  font-weight: 500;
}
/* .p_info > .review > .cart_like_BtnWrapper > .cart_Btn{

} */
.P_info3 p {
  font-size: 20px;
  font-weight: 600;
}
.P_info3 .buy .b_num,
.p_sta,
.p_deli,
.P_info3 .buy .b_opt {
  justify-content: space-between;
}

/* flex에서 gap쓰려면??? */
.P_info3 .buy .b_opt {
  width: 8.5rem;
}
.P_info3 .buy {
  /* width: 17.625rem; */
  height: 142px;
  flex-wrap: wrap;
  gap: 25px 0;
}
.P_info3 .buy .H {
  height: 26px;
}
/* .p_info .y_Btn2 button {
  height: 60px;
  width: 280px;
  background: var(--Y);
  border-radius: 2px;
}
.p_info .y_Btn2 span {
  font-size: 20px;
  font-weight: bold;
} */
