html {
  overflow-x: hidden;
}

.title_Wrap {
  background: #dcdbd9;
  width: 70%;
}

.mainNAV {
  z-index: 1;
}
.mb {
  margin-bottom: 250px;
}

.sub_header {
  z-index: -10;
  top: -52%;
  width: 100%;
}
.sub_header .title_Wrap img {
  width: 30%;
}

main {
  margin: 0 12.25rem;
}

/* .gnb_btns {
  margin-bottom: 410px;
} */
/* ---------------section 01 */
body {
  color: var(--B);
}
.Pd_title {
  gap: 10px;
  margin-bottom: 40px;
}
.Pd_title > p {
  font-size: 18px;
  font-weight: 300;
}

.img1,
.img2 {
  width: 31.25rem;
  height: 31.25rem;
}

/* -----------------------------slide */
.slide img {
  width: 5.875rem;
  height: 5.875rem;
}
.slide {
  gap: 1.188rem;
  justify-content: space-between;
  padding: 30px;
}
.imgWrapper {
  width: 31.25rem;
  gap: 3.125rem;
}

.section01 .zoom_Wrap .imgWrapper .slide_wrap i {
  font-size: 28px;
  color: var(--Gg);
}

.section01 .zoom_Wrap .imgWrapper .slide_wrap .prev {
  padding: 0;
  top: 40%;
}

.section01 .zoom_Wrap .imgWrapper .slide_wrap .next {
  padding: 0;
  right: 0%;
  top: 40%;
}

.section01 .zoom_Wrap .img2 {
  margin: 0 8.125rem 0 3.125rem;
}

/* ---------------정보내용 시작 */

.P_info1,
.P_info1 .rating_wrap {
  gap: 1rem;
}
.P_info1 .review {
  gap: 1.875rem;
  align-items: baseline;
}

.P_info1 .cart_wish_BtnWrapper button {
  background: transparent;
  border: none;
  width: 2.75rem;
}

.P_info1 .name {
  font-size: 1.25rem;
}
.P_info1 .price {
  font-size: 1.625rem;
  font-weight: bold;
}

/* ------------------------------info2 */
.P_info2 {
  gap: 1.25rem;
}
.section02 .p_info .P_info2 .c_img img {
  width: 6.25rem;
  height: 6.25rem;
  gap: 0.625rem;
}
.P_info2 .c_img .img_grey {
  margin-right: 20px;
}
.P_info2 .color {
  gap: 1.25rem;
}
.P_info2 .color .c_tit {
  font-size: 18px;
  font-weight: 500;
}

.P_info3 p {
  font-size: 1rem;
  font-weight: 500;
  gap: 0.375rem;
}
.P_info3 .buy .b_num,
.p_sta,
.p_deli,
.P_info3 .buy .b_opt {
  justify-content: space-between;
}

.P_info3 {
  gap: 2.5rem;
}
.P_info3 .buy .b_opt button {
  align-items: center;
}

.P_info3 .buy {
  gap: 0.625rem;
}
/* add */
article .section02 {
  right: 10%;
  position: fixed;
}
article .section02 .p_info {
  right: 10%;
  position: fixed;
  gap: 1.875rem;
  background: #fff;
}

/* -----------------------------------section03 */
/* --------평점, 별, 리뷰수, 설명글, 후기사진 */
.section03 h5 button {
  font-size: 1.25rem;
  font-weight: 400;
}
#product_detail {
  font-size: 1.125rem;
  color: var(--G);
  gap: 0.625rem;
}
.section03 .review01_wrap {
  gap: 1.875rem;
}
.section03 .review01_wrap .review_ave {
  gap: 3rem;
}
.section03 .review_ave {
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
}
/* 별, 리뷰 사이갭 */
.review_ave_wrap01 .review_ave_wrap02 .rating_wrap {
  align-items: baseline;
  gap: 1.375rem;
}
.section03 .review_ave .star i,
.section03 .review_ave .review_num {
  font-size: 1.5rem;
}
.review01_wrap .review_photo_wrap {
  width: 100%;
}
.review01_wrap .review_photo_wrap img {
  width: 90%;
}
.review01_wrap .more_btn_wrap {
  gap: 0.75rem;
}
/* --------checkbox, filter btn */
.review02_wrap .opt_wrapper .review_btn_wrap {
  gap: 1rem;
}
.review02_wrap .opt_wrapper .review_btn_wrap .review_btn {
  border: 1px solid var(--G);
  padding: 0.625rem;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}
.review02_wrap .opt_wrapper .review_btn_wrap .review_btn:hover {
  background-color: var(--Y);
}
.review02_wrap .opt_wrapper {
  justify-content: space-between;
}
.review02_wrap .opt_wrapper .form-check {
  gap: 0.5rem;
  align-items: flex-end;
}
/* ---리뷰리스트 */
.review03_wrap .review_03_ul {
  gap: 0.125rem;
}
.review03_wrap .review_03_ul li {
  border-top: 1px solid var(--Gg);
  padding-top: 1rem;
}
.review_03_ul .review_first_wrap {
  gap: 1rem;
}
.review_03_ul .review_first_wrap .review_first {
  justify-content: space-between;
}
.review_03_ul .review_first_wrap #randomNumber {
  font-size: 1rem;
}
.review_03_ul .review_first_wrap .rating_wrap {
  gap: 1rem;
}
.review_first_wrap .review_second_wrap p {
  line-height: 1.5625rem;
}
/* ---랜덤날짜 */
#random_date {
}

/* bootstrap css change */
.accordion-body {
  padding: 1.875rem;
}
#product_detail > p:first-child {
  font-size: 1.313rem;
  font-weight: 400;
  margin-bottom: 0.625rem;
}
.accordion-button:not(.collapsed) {
  background-color: rgba(237, 237, 237, 1);
}
.section03 {
  width: 100%;
  margin: 12.5rem 12.25rem 0 12.25rem;
}
.section03 #accordionPanelsStayOpenExample {
  width: 56%;
}
#allreview {
  gap: 3rem;
}
