html {
  overflow-x: hidden;
}

.title_Wrap {
  background: #dcdbd9;
  width: 73%;
  height: 16.75rem;
}

.mainNAV {
  z-index: 1;
}
.mb {
  margin-bottom: 250px;
}

.sub_header {
  z-index: -10;
  top: -52%;
  width: 100%;
  height: 16.75rem;
}
.sub_header .title_Wrap img {
  width: 30%;
}

main {
  margin: 13.75rem 0 12.5rem 12.25rem;
  /* margin: 0 12.25rem; */
}

/* .gnb_btns {
  margin-bottom: 410px;
} */
/* ---------------section 01 */
body {
  color: var(--B);
}
.Pd_title {
  gap: 10px;
  margin-bottom: 40px;
}
.Pd_title > p {
  font-size: 18px;
  font-weight: 300;
}

/* -----------------------------slide */
.imgWrapper li img {
  width: 31.25rem;
  height: 31.25rem;
}
#bx-pager a img {
  width: 5.875rem;
  height: 5.875rem;
  /* gap: 1.188rem; */
  /* justify-content: space-between;
  padding: 30px; */
}
.imgWrapper {
  width: 31.25rem;
  gap: 3.125rem;
}

/* .section01 .zoom_Wrap .imgWrapper .slide_wrap i {
  font-size: 28px;
  color: var(--Gg);
}

.section01 .zoom_Wrap .imgWrapper .slide_wrap .prev {
  padding: 0;
  top: 40%;
}

.section01 .zoom_Wrap .imgWrapper .slide_wrap .next {
  padding: 0;
  right: 0%;
  top: 40%;
} */

.section01 .zoom_Wrap .img2 {
  margin: 0 8.125rem 0 3.125rem;
}

/* ---------------정보내용 시작 */

.P_info1,
.P_info1 .rating_wrap {
  gap: 1rem;
}
.P_info1 .review {
  gap: 1.875rem;
  align-items: baseline;
}

.P_info1 .cart_wish_BtnWrapper button {
  background: transparent;
  border: none;
  width: 2.75rem;
}

.P_info1 .name {
  font-size: 1.25rem;
}
.P_info1 .price {
  font-size: 1.625rem;
  font-weight: bold;
}

/* ------------------------------info2 */
.P_info2 {
  gap: 1.25rem;
}
.section02 .p_info .P_info2 .c_img img {
  width: 6.25rem;
  height: 6.25rem;
  gap: 0.625rem;
}
.P_info2 .c_img .img_grey {
  margin-right: 20px;
}
.P_info2 .color {
  gap: 1.25rem;
}
.P_info2 .color .c_tit {
  font-size: 18px;
  font-weight: 500;
}

.P_info3 p {
  font-size: 1rem;
  font-weight: 500;
  gap: 0.375rem;
}
.P_info3 .buy .b_num,
.p_sta,
.p_deli,
.P_info3 .buy .b_opt {
  justify-content: space-between;
}

.P_info3 {
  gap: 2.5rem;
}
.P_info3 .buy .b_opt button {
  align-items: center;
}

.P_info3 .buy {
  gap: 0.625rem;
}
/* add */
article .section02 {
  right: 10%;
  position: fixed;
}
article .section02 .p_info {
  right: 10%;
  gap: 1.875rem;
  background: #fff;
}

/* -----------------------------------section03 */
/* --------평점, 별, 리뷰수, 설명글, 후기사진 */
/* .sec03_line {
  width: 79vw;
  height: 1px;
  background: var(--S);
  margin-top: 20px;
} */

.section03 h5 button {
  font-size: 1.25rem;
  font-weight: 400;
}
#product_detail {
  font-size: 1.125rem;
  color: var(--G);
  gap: 0.625rem;
}
.section03 .review01_wrap {
  gap: 1.875rem;
}
.section03 .review01_wrap .review_ave {
  gap: 3rem;
}
.section03 .review_ave {
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
}
/* 별, 리뷰 사이갭 */
.review_ave_wrap01 .review_ave_wrap02 .rating_wrap {
  align-items: baseline;
  gap: 1.375rem;
}
.section03 .review_ave .star i,
.section03 .review_ave .review_num {
  font-size: 1.5rem;
}
.review01_wrap .review_photo_wrap {
  width: 100%;
}
.review01_wrap .review_photo_wrap img {
  width: 90%;
}
.review01_wrap .more_btn_wrap {
  gap: 0.75rem;
}
/* --------checkbox, filter btn */
.review02_wrap .opt_wrapper .review_btn_wrap {
  gap: 1rem;
}
.review02_wrap .opt_wrapper .review_btn_wrap .review_btn {
  border: 1px solid var(--G);
  padding: 0.625rem;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}
.review02_wrap .opt_wrapper .review_btn_wrap .review_btn:hover {
  background-color: var(--Y);
}
.review02_wrap .opt_wrapper {
  justify-content: space-between;
}
.review02_wrap .opt_wrapper .form-check {
  gap: 0.5rem;
  align-items: flex-end;
}
/* ---리뷰리스트 */
.review03_wrap .review_03_ul {
  gap: 0.125rem;
}
.review03_wrap .review_03_ul li {
  border-top: 1px solid var(--Gg);
  padding-top: 1rem;
}
.review_03_ul .review_first_wrap {
  gap: 1rem;
}
.review_03_ul .review_first_wrap .review_first {
  justify-content: space-between;
}
.review_03_ul .review_first_wrap #randomNumber {
  font-size: 1rem;
}
.review_03_ul .review_first_wrap .rating_wrap {
  gap: 1rem;
}
.review_first_wrap .review_second_wrap p {
  line-height: 1.5625rem;
}
/* ---랜덤날짜 */

/* ----------------recommand slide */
.rec {
  margin-top: 12.5rem;
}
.bestList .bestItem > button {
  z-index: 10;
  right: 0%;
}

.best_desc {
  text-align: center;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.25rem;
  box-shadow: 0px, 4px rgba(0, 0, 0, 0.25);
}

.slider_wrapper {
  /* height: 28.8125rem; */
  overflow: hidden;
  margin: 0 37.625rem 12.5rem 12.25rem;
}

/* ul */
.slider_wrapper ul {
  width: 100%;
  transition: left 0.5s ease-in-out;
  gap: 2.5rem;
  padding: 0px 3.75rem;
}

.slider_wrapper .bestList {
  box-shadow: 4px 4px 3px #ededed;
}
.slider_wrapper .bestList:last-child {
  gap: 0;
}

.bestList a > img {
  width: 18.75rem;
  height: 18.75rem;
}

.yellow_Btn {
  position: absolute;
  z-index: 10;
  right: 75.4%;
}

.slider_wrapper .prev_btn,
.slider_wrapper .next_btn {
  color: var(--G);
  font-size: 34px;
  z-index: 10;
  top: 60%;
}

.slider_wrapper .next_btn {
  right: 0;
}

h3 {
  margin-bottom: 3.125rem;
  margin-top: 0;
}
.y_Btn_sm {
  width: 7.5rem;
  height: 3.125rem;
}

/* wish, cart btn */
.wish_Btn i,
.cart_Btn i {
  font-size: 1.125rem;
}
/* -----------------------------------------slick */
.js .slider-single > div:nth-child(1n + 2) {
  display: none;
}

.js .slider-single.slick-initialized > div:nth-child(1n + 2) {
  display: block;
}
.title_Wrap img {
  width: 60%;
  height: 33.3vh;
  object-fit: cover;
}
.custom-slide {
  padding: 15px 5px 0 5px;

  height: 100px;
  object-fit: cover;
  box-shadow: 5px 5px 5px #dedede76;
}

/* .slider-single h3 {
    line-height: 10rem;
  } */

.slider-nav .slick-slide {
  margin: 20px 5.5px;
}

.slider-nav img {
  width: 5.875rem;
  height: 5.875rem;
}
.slider-single img {
  width: 31.25rem;
  height: 31.25rem;
}
.slider-nav {
  position: absolute;
  width: 50%;
  bottom: -27%;
  left: 2%;
}
.row {
  position: relative;
}
.slick-slide {
  width: auto;
}

/* btn */
.slider .slick-prev {
  left: -2%;
  top: 50%;
}
.slick-prev:before,
.slick-next:before {
  color: var(--G);
}
.slider .slick-next {
  top: 50%;
  right: -2.5%;
}

/* draggable" */
.slider-nav .slick-list {
  padding-left: 10px;
}
.slick-current {
}

article .img2 {
  width: 31.25rem;
  height: 31.25rem;
  left: 35%;
}
/* bootstrap css change */
.accordion-body {
  padding: 1.875rem;
}
#product_detail > p:first-child {
  font-size: 1.313rem;
  font-weight: 400;
  margin-bottom: 0.625rem;
}
.accordion-button:not(.collapsed) {
  background-color: rgba(237, 237, 237, 1);
}
.section03 {
  width: 100%;
  margin: 12.5rem 30.625rem 12.5rem 12.25rem;
}
.section03 #accordionPanelsStayOpenExample {
  width: 58%;
}
#allreview {
  gap: 3rem;
}

.section03 .accordion .accordion-item button:focus,
.section03 .accordion .accordion-item button:hover {
  background: rgba(237, 237, 237, 1);
  color: var(--G);
}
.section03 .accordion .accordion-item button a {
  padding: 0;
}
/* zoom */
/* 테두리크기 
.magnify {
  z-index: 20;
  border: 3px solid #999;
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0px auto;
  overflow: hidden;
}

.magnify img {
  display: block;
}

/* 테두리안 사진 크기 
.element_to_magnify {
  position: relative;
  width: 100%;
  height: 100%;
}
.element_to_magnify {
  position: relative;
  width: 900px;
  height: 640px;
}
.element_to_magnify img {
  width: 100%;
  height: auto;
}

.magnify_glass {
  z-index: 300;
  position: absolute;
  border: 4px solid #ccc;
  border-radius: 15%;
  width: 200px;
  height: 200px;
  overflow: hidden;
}*/
.magnify img {
  display: block;
}

.element_to_magnify {
  position: relative;
  width: 900px;
  height: 640px;
}
.element_to_magnify a {
  display: block;
  position: absolute;
  top: 80px;
  right: 80px;
  background-color: rgba(200, 200, 200, 0.25);
  padding: 4px;
  font-size: 18px;
  color: #fff;
}
.element_to_magnify img {
  width: 100%;
  height: auto;
}
.magnified_element {
}

.magnify_glass {
  z-index: 300;
  position: absolute;
  border: 4px solid #ccc;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
