html {
  overflow-x: hidden;
}

.title_Wrap {
  background: #dcdbd9;
}

.mainNAV {
  z-index: 1;
}

.sub_header {
  z-index: -10;
  top: -52%;
}

main {
  margin: 0 12.25rem;
}

.gnb_btns {
  margin-bottom: 410px;
}
/* ---------------section 01 */
body {
  color: var(--B);
}
.Pd_title {
  gap: 10px;
  margin-bottom: 40px;
}
.Pd_title > p {
  font-size: 18px;
  font-weight: 300;
}

.img1,
.img2 {
  width: 31.25rem;
  height: 31.25rem;
}

/* -----------------------------slide */
.slide img {
  width: 5.875rem;
  height: 5.875rem;
}
.slide {
  gap: 1.188rem;
  justify-content: space-between;
  padding: 30px;
}
.imgWrapper {
  width: 31.25rem;
  gap: 3.125rem;
}

.section01 .zoom_Wrap .imgWrapper .slide_wrap i {
  font-size: 28px;
  color: var(--Gg);
}

.section01 .zoom_Wrap .imgWrapper .slide_wrap .prev {
  padding: 0;
  top: 40%;
}

.section01 .zoom_Wrap .imgWrapper .slide_wrap .next {
  padding: 0;
  right: 0%;
  top: 40%;
}

.section01 .zoom_Wrap .img2 {
  margin: 0 8.125rem 0 3.125rem;
}

/* ---------------정보내용 시작 */

.section02 .p_info .P_info2 {
  margin: 3.125rem 0;
}

.P_info1,
.P_info1 .rating_wrap {
  gap: 1rem;
}
.P_info1 .review {
  gap: 1.875rem;
  align-items: baseline;
}

.P_info1 .cart_wish_BtnWrapper button {
  background: transparent;
  border: none;
  width: 2.75rem;
}

.P_info1 .name {
  font-size: 1.5rem;
}
.P_info1 .price {
  font-size: 1.875rem;
  font-weight: bold;
}

/* ------------------------------info2 */
.P_info2 {
  gap: 1.25rem;
}
.section02 .p_info .P_info2 .c_img img {
  width: 6.25rem;
  height: 6.25rem;
  gap: 0.625rem;
}
.P_info2 .c_img .img_grey {
  margin-right: 20px;
}
.P_info2 .color {
  gap: 1.25rem;
}
.P_info2 .color .c_tit {
  font-size: 18px;
  font-weight: 500;
}

.P_info3 p {
  font-size: 20px;
  font-weight: 600;
  gap: 0.625rem;
}
.P_info3 .buy .b_num,
.p_sta,
.p_deli,
.P_info3 .buy .b_opt {
  justify-content: space-between;
}

.P_info3 {
  gap: 2.5rem;
}
.P_info3 .buy .b_opt button {
  align-items: center;
}

.P_info3 .buy {
  gap: 1.25rem;
}

.section03 button {
  font-style: 1.875rem;
}
