.gnb_btns {
    margin: 20px 0 0 40px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    position: absolute;
    left: 70%;
    top: 70%;
}

.title_Wrap {
    width: 1306px;
    height: 300px;
    background: #dcdbd9;
}

.sub_header {
    z-index: -1;
    top: -20px;
}

.store_desc {
    font-weight: 400;
    font-size: 26px;
    left: 200px;
    top: 31.25rem;
    line-height: 60px;
}

.store_Wrap {
    display: none;
}
