@import url("slick.css");

/* body {
  background-color: rgb(225, 185, 185);
} */

.js .slider-single > div:nth-child(1n + 2) {
  display: none;
}

.js .slider-single.slick-initialized > div:nth-child(1n + 2) {
  display: block;
}
img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.custom-slide {
  padding: 15px 5px 0 5px;

  height: 100px;
  object-fit: cover;
  box-shadow: 5px 5px 5px #dedede76;
}

/* .slider-single h3 {
  line-height: 10rem;
} */

.slider-nav .slick-slide {
  margin: 20px 5.5px;
}

.slider-nav img {
  width: 5.875rem;
  height: 5.875rem;
}
.slider-single img {
  width: 31.25rem;
  height: 31.25rem;
}
.slider-nav {
  position: absolute;
  width: 50%;
}
.row {
  position: relative;
}
.slick-slide {
  width: auto;
}

/* btn */
.slider .slick-prev {
  left: -2%;
  top: 50%;
}
.slider .slick-next {
  top: 50%;
  right: -2.5%;
}
/* draggable" */
.slider-nav .slick-list {
  padding-left: 10px;
}
